.search input{
    border-radius: 5px;
    border: 1px solid #d7a62880;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

.bg-today{
    background-color: #ffffff4d;
    border: 1px solid #d7a62880;
    box-shadow: 1px 1px 10px 2px #0000004d;

    
}

.bg-forecast{
    background-color: #d7a62880;
    border: 1px solid #ffffff4d;
    box-shadow: 1px 1px 10px 2px #0000004d;

   
}

.bgDati{
    background-color: #ffffff4d;
    padding: 1rem;
    box-shadow: 1px 1px 10px 2px #0000004d;
}

.wIcon{
    height: 60px;
    width: 60px;
    margin: auto;
}